.row(infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='5')
    .middle-page-status
        .well(ng-show="stillLoding").text-center
            .progress.progress-striped.active(style="width:300px;margin:0 auto;")
                .progress-bar(style="width: 100%")
        div.well(data-ng-repeat="status in statuses track by $index | orderBy:orderBy" ng-if="(!status.story || status.story.indexOf('commented') < 0) && status.story.indexOf('like a photo') < 0")
            .row
                .col-md-1
                    img(ng-src="{{status.profileImage}}" src="")
                .col-md-10
                    h5 {{status.story || status.from.name}}
                    .row(style="margin-top:5px")
                        .col-md-12
                            p.pull-right {{status.updated_time | date:'h:mma MM/dd/yyyy'}}
                            .row.content(ng-show="status.type=='video'")
                                div(video-dir data="status" style="margin-left:15px;")
                            .row.content(ng-show="status.type=='link'")
                                div(link-dir data="status")
                            .row.content(ng-show="status.type=='photo'")
                                div(photo-dir data="status")
                            .row.content(ng-show="status.story.indexOf('likes a photo') > 0")
                                div(photo-dir data="status")
                            .row.content(ng-show="status.status_type=='mobile_status_update' || status.status_type=='wall_post'")
                                div(status-dir data="status")
            .row
                .col-md-3.fb-action-row.text-center(ng-click="like(status, $index)")
                    img(id="like-{{$index}}" ng-src="https://googledrive.com/host/0B_EenlQcPPQvd0ZhX053UTFpX00/Add-Facebook-Like-Button-in-Magento.jpg" width="30" height="30")
                    span.fb-action Likes 
                        span {{status.likes.data.length || 0}}
                .col-md-3.fb-action-row.text-center(ng-click="commentWindow(status)")
                    img(ng-src="https://googledrive.com/host/0B_EenlQcPPQvd0ZhX053UTFpX00/comment.png" width="30" height="30")
                    span.fb-action Comments 
                        span {{status.comments.data.length || 0}}
                .col-md-3.fb-action-row.text-center(ng-click="share(status)")
                    img(ng-src="https://googledrive.com/host/0B_EenlQcPPQvd0ZhX053UTFpX00/share.jpg" width="30" height="30")
                    span.fb-action Shares 
                        span {{status.shares.count || 0}}
            .row
                .container.likes-section
                    .col-md-12
                        .like(ng-show="status.likes.data.length <= 4")
                            span(ng-repeat="like in status.likes.data |limitTo: pages.likes.data.length - 2") {{like.name}}
                            span(ng-show="statuses.likes.data.length >= 2") , {{status.likes.data[status.likes.data.length - 2].name}}
                            span(ng-show="statuses.likes.data.length >= 1") and {{status.likes.data[status.likes.data.length - 1].name}}
                            span(ng-show="status.likes.data.length")
                                span(ng-show="status.type=='link'") like this link
                                span(ng-show="status.type=='status'") like this status
                                span(ng-show="status.embedLink || video.type=='status'") like this video
                                span(ng-show="status.type=='photo'") like this picture
                        .like(ng-show="status.likes.data.length > 4")
                            span(ng-repeat="like in status.likes.data |limitTo: 2") {{like.name}}, 
                                span   {{status.likes.data[2].name}} 
                                | and 
                            span.likes-button.md-trigger.md-setperspective(data-modal="modal-{{$index}}")
                                    | {{status.likes.data.length - 3}} others 
                                span like this 
                                span(ng-show="status.type=='link'") link
                                span(ng-show="status.embedLink || status.type=='video'") video
                                span(ng-show="status.type=='status'") status
                                span(ng-show="status.type=='photo'") picture
            .row
                .comments-section(ng-show="status.wantToComment")
                    .row(ng-repeat="comment in status.comments.data" if="comment.message != ''" style="margin:10px 3px;")
                        .col-md-1
                            img(ng-src="{{comment.profilePicture}}" src="")
                        .col-md-11
                            h5
                                a(href="https://www.facebook.com/{{comment.from.id}}" target="_blank"){{comment.from.name}}
                            p(style="margin-left:10px;") {{comment.message}}
            .row
                .comment-section(ng-show="status.wantToComment")
                    form.form-horizontal(name="formComment")
                        .row
                            .col-md-1
                                img(ng-src="{{profilePicture}}" src="" style="margin: 0 15px;")
                            .col-md-8
                                form.form-horizontal(name="formComment")
                                    .row
                                        .col-md-10
                                            input.form-control.comment-input(type="text" placeholder="Write your comment" ng-model="comment.message" style="margin-left:20px;")
                                        .col-md-2
                                            button.btn.btn-primary(type="submit" ng-click="comment(comment)") Comment
        .busy-warning(ng-show="busy")
            h4 Loading more statuses... Please wait!
