.col-md-6
    div.image-link-container(ng-hide="data.embedLink")
        a
            img.thumbnail.img-responsive(ng-src="{{data.postPhoto}}" src="" ng-click="open(data)")
.col-md-6.well(ng-show="data.message || data.description || data.caption")
    p.message.description.break-word
        |{{data.message || data.description}}
        br
        | {{data.caption}}