#fb-root{
    margin-top:70px;
}
body{
    background-color:#E3F2F7;
}
.middle-page{
    margin:0 auto;
    max-width:750px;
}
.middle-page .row, .middle-page .well{
    max-width:750px;
}
.image-link-container img{
    width: 100%;
    height:auto;
    margin-bottom: 20px;
}
.content{
    padding-left:20px;
}
.description{
    font-size:1.3em;
    color:#2fa4e7;
}
.message{
    line-height:20px;
}
iframe{
    width:480px;
}
.fb-action-row{
    margin:10px 2px;
    cursor:pointer;
}
.fb-action{
    margin-left:5px;
}
.comment-section{
    margin-top:10px;
}

.break-word {
  word-wrap: break-word;
}

.show-section {
    width: 800px;
    margin: 0 auto;
}

.show-button {
    float: left;
    cursor: pointer;
    margin-right: 20px;
    color: #2fa4e7;
}

.likes-button {
    cursor: pointer;
    color: #2fa4e7;
}

.likes-button:hover {
    color: black;
}

.show-button:hover {
    color: black;
}

a.user-acc {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999;
    margin-top: 10px;
    margin-right: 50px;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
}

a.user-acc:hover {
    color: #317EAC;
}
.img-modal{
    display:block;
    margin: 0 auto;
    max-width:550px;
    max-height:500px;
}

.notification-bell {
    height: 30px;
    width: 30px;
}

.notification-icon {
    margin-right: 20px;
    margin-top: 10px;
}

.notif-box {
    margin-top: 10px;
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    background-color: #EEEEEE;
}

.notif-box li {

    margin-bottom: 10px;
}

.notif-container {

    padding: 5px;
    height: 100px;
    border-top: 1px solid #36A7E8;
    border-bottom: 1px solid #36A7E8;
    border-radius: 5px;
}

.notif-time {

    color: gray;
    margin-top: 10px;
    font-style: italic;
}


@media (max-width: 1000px) {
  
    .fb-box {

        width: 600px;
        margin-left: 25%;
    }

    .fb-box div {
        float: left;
        margin-right: 20px;
    }

    .show-section {
        margin-left: 25%;
    }

    .navbar-header {
        float: left;
    }

    .navbar-header button {
        position: fixed;
        top: 5px;
        right: 5px;
        margin: 0;
    }

    .navbar-right {
        float: left;
        margin-right: 5px;
    }

    .navbar-right:not(.bell) {
        margin-left: 5px;
    }

    .bell {
        margin-left: 5px;
    }

}

@media (max-width: 500px) {
  
    .fb-box {

        width: 400px;
        margin-left: 0px;
    }

    .fb-box div {
        float: left;
        margin-right: 20px;
        width: 400px;
    }

    .show-section {
        margin-left: 12%;
    }

    .likes-section {
        padding-top: 20px;
    }

}