extends includes/layout
block main-content
    div.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Facebook Feed
            .navbar-collapse.collapse(id="navbar-main")
                ul.nav.navbar-nav
                    li
                        a(href="#") news feed
                    li
                        a(href="#") video
                    li
                        a(href="#") statuses
                    li
                        a(href="#") pages
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#")
                            =user
    div(id="fb-root" class="fb_reset")
        div(ng-view)