extends includes/layout
block main-content
    div.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Beautiful Feed
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-main")
            div(ng-include="'partials/user/user'")
            div(ng-include="'partials/notifications/notifications'")
            .navbar-collapse.collapse(id="navbar-main")
                ul.nav.navbar-nav
                    li
                        a(href="#/home") news feed
                    li
                        a(href="#/posts") posts
                    li
                        a(href="#/videos") videos
                    li
                        a(href="#/statuses") statuses
                    li
                        a(href="#/pages") pages
    div(id="fb-root" class="fb_reset" style="max-width:960px;")
        div(ng-view)