.row(infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='5')
    .middle-page
        .well(ng-show="stillLoding")
            .progress.progress-striped.active(style="width:300px;margin:0 auto;")
                .progress-bar(style="width: 100%")
        .container
            .row
                .well(ng-repeat="video in videos | orderBy:orderBy")
                    .row
                        .col-md-1
                            img(ng-src="{{video.profileImage}}" src="")
                        .col-md-9
                            h5(style="margin-bottom:5px;")
                                a(href="https://www.facebook.com/profile.php?id={{video.from.id}}" target="_blank") {{video.from.name}}
                            div(video-dir data="video" style="padding-left:15px;")
                        .col-md-2.fb-box.col-sm-12.col-xs-12
                            .well
                                .fb-action-row.text-center(ng-click="like(video, $index)")
                                    img(id="like-{{$index}}" ng-src="https://googledrive.com/host/0B_EenlQcPPQvd0ZhX053UTFpX00/Add-Facebook-Like-Button-in-Magento.jpg" width="30" height="30")
                                    span.fb-action Likes 
                                        span {{video.likes.data.length || 0}}
                                .fb-action-row.text-center(ng-click="commentWindow(video)")
                                    img(ng-src="https://googledrive.com/host/0B_EenlQcPPQvd0ZhX053UTFpX00/comment.png" width="30" height="30")
                                    span.fb-action Comments 
                                        span {{video.comments.data.length || 0}}
                                .fb-action-row.text-center(ng-click="share(video)")
                                    img(ng-src="https://googledrive.com/host/0B_EenlQcPPQvd0ZhX053UTFpX00/share.jpg" width="30" height="30")
                                    span.fb-action Shares 
                                        span {{video.shares.count || 0}}
                    .row
                        .container.show-section.text-center
                            .col-md-12
                                .show-button(ng-click="commentWindow(video)") Show Comments
                    .row
                        .container.likes-section
                            .col-md-12
                                .like(ng-show="video.likes.data.length <= 4")
                                    span(ng-repeat="like in video.likes.data |limitTo: pages.likes.data.length - 2") {{like.name}}
                                    span(ng-show="videos.likes.data.length >= 2") , {{video.likes.data[video.likes.data.length - 2].name}}
                                    span(ng-show="videos.likes.data.length >= 1")  and {{video.likes.data[video.likes.data.length - 1].name}}
                                    span(ng-show="video.likes.data.length")
                                        span(ng-show="video.type=='link'") like this link
                                        span(ng-show="video.embedLink || video.type=='video'") like this video
                                        span(ng-show="video.type=='photo'") like this picture
                                .like(ng-show="video.likes.data.length > 4")
                                    span(ng-repeat="like in video.likes.data |limitTo: 2") {{like.name}}, 
                                        span   {{video.likes.data[2].name}} 
                                        | and 
                                    span.likes-button.md-trigger.md-setperspective(data-modal="modal-{{$index}}")
                                        | {{video.likes.data.length - 3}} others 
                                    span like this video
                    .row
                        .comments-section(ng-show="video.wantToComment")
                            .row(ng-repeat="comment in video.comments.data" if="comment.message != ''" style="margin:10px 3px;")
                                .col-md-1
                                    img(ng-src="{{comment.profilePicture}}" src="")
                                .col-md-11
                                    h5 
                                        a(href="https://www.facebook.com/profile.php?id={{comment.from.id}}" target="_blank") {{comment.from.name}}
                                    p {{comment.message}}
                        .container.comment-section(ng-show="video.wantToComment")
                            .row
                                .col-md-1
                                    img(ng-src="{{profilePicture}}" src="")
                                .col-md-11
                                    form.form-horizontal(name="formComment")
                                        .row
                                            .col-md-10
                                                input.form-control.comment-input(type="text" placeholder="Write your comment" ng-model="comment.message")
                                            .col-md-2
                                                button.btn.btn-primary(type="submit" ng-click="comment(comment)") Comment
        
                .busy-warning(ng-show="busy")
                    h4 Loading more videos... Please wait!