doctype
html
    head
        title Facebook feed
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="app")
        block main-content
        include scripts