script(type="text/javascript" src="/lib/jquery-2.1.0.js")
script(type="text/javascript" src='http://connect.facebook.com/en_US/all.js')
script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNE5LBivJlaVumJO0XHdMEumfl2bg2H5o&sensor=false")
script(type="text/javascript" src="/lib/toastr.js")
script(type="text/javascript" src="/lib/click.js")
script(type="text/javascript" src="/lib/classie.js")
script(type="text/javascript" src="/lib/css-filters-polyfill.js")
script(type="text/javascript" src="/lib/cssParser.js")
script(type="text/javascript" src="/lib/modernizr.custom.js")
script(type="text/javascript" src="/lib/angular.js")
script(type="text/javascript" src="/lib/angular-route.min.js")
script(type="text/javascript" src="/lib/angular-resource.js")
script(type="text/javascript" src="/lib/bootstrap.min.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/fbService.js")
script(type="text/javascript" src="/app/embedService.js")
script(type="text/javascript" src="/app/popupService.js")
script(type="text/javascript" src="/app/buttonsFacebookService.js")
script(type="text/javascript" src="/app/dateService.js")
script(type="text/javascript" src="/app/main/mainController.js")
script(type="text/javascript" src="/app/feed/feedController.js")
script(type="text/javascript" src="/app/pages/pageController.js")
script(type="text/javascript" src="/app/statuses/statusController.js")
script(type="text/javascript" src="/app/posts/postsController.js")
script(type="text/javascript" src="/app/videos/videosController.js")