div.modal-dialog
    div.modal-content
    div.modal-header
        button.close( type="button" ng-click="cancel()") &times
        h5 Beautiful Feed - picture
    div.modal-body
        img.img-modal(ng-src="{{url}}" src="")
    div.modal-footer
        button.btn.btn-default( type="button" ng-click="cancel()") Close