.container
    .row
        .middle-page
            .well(ng-show="stillLoding")
                .progress.progress-striped.active
                    .progress-bar(style="width: 100%")
            .container
                .row
                    .well(ng-repeat="page in pages")
                        .row
                            .col-md-3
                                img(ng-src="{{page.profileImage}}" src="")
                            .col-md-6.pull-left
                                h5 {{page.from.name}}
                            .col-md-3