.container
    .row
        .middle-page
            .well(ng-show="stillLoding")
                .progress.progress-striped.active
                    .progress-bar(style="width: 100%")
            .container
                .row
                    .well(ng-repeat="page in pages")
                        | {{page.from.category}}