.container
    .row
        .middle-page
            .well(ng-show="stillLoding").text-center
                .progress.progress-striped.active(style="width:300px;margin:0 auto;")
                    .progress-bar(style="width: 100%")
            .container
                .row
                    .well(ng-repeat="page in pages")
                        .row
                            .col-md-1
                                img(ng-src="{{page.profileImage}}" src="")
                            .col-md-9.pull-left
                                h5 {{page.from.name}} - 
                                    span(ng-show="page.type=='link'") shared link
                                    span(ng-show="page.type=='video'") added video
                                    span(ng-show="page.type=='photo'") added picture
                                .row.content(ng-show="page.type=='link'" style="margin-top:20px;")
                                    .col-md-6
                                        div.image-link-container
                                            a(href="{{page.link}}" target="_blank")
                                                img(ng-src="{{page.picture}}" src="")
                                    .col-md-6
                                        p.description
                                            | {{page.name}}
                                        p 
                                            a(href="{{page.caption}}" target="_blank") {{page.caption}}
                                        p.message {{page.message}}
                                .row.content(ng-show="page.type=='photo'" style="margin-top:20px;")
                                    .col-md-6
                                        div.image-link-container
                                            img(ng-src="{{page.postPhoto}}" src="")
                                    .col-md-6
                                        p.message.description
                                            |{{page.message}}
                                            
                            .col-md-2