div(user-directive user="user")
.row.text-center
	.col-md-12
		img(src="https://googledrive.com/host/0B_EenlQcPPQvd0ZhX053UTFpX00/main-photo.png")
	.row
		.col-md-12(style="margin-top:-70px;")
			a.btn.btn-primary.btn-lg(ng-click="login()")
				img(src="https://googledrive.com/host/0B_EenlQcPPQvd0ZhX053UTFpX00/f.png" style="width:40px")
				| Sign Up using 
				strong Facebook
			p.home-info(style="margin-top:20px;") It is very simple to start using Beautiful Feed
			p.home-info Simply login via your Facebook account and learn more about the things you like, what your friends are interest in and a lot more!